{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warnings_as_errors
]}.

{deps, [
    {lager, "3.9.2"},
    {elli, "3.3.0"},
    {observer_cli, "1.7.3"},
    {prometheus, "4.8.2"},
    {jsx, "3.1.0"}
]}.

{plugins, [
    {rebar3_format, "1.2.1"},
    {erlfmt, "1.0.0"}
]}.

{format, [
    {files, [
        "rebar.config",
        "{src,include,test}/**/*.{hrl,erl,app.src}",
        "config/{sys,test}.{config,config.src}"
    ]},
    {formatter, erlfmt_formatter},
    {options, #{print_width => 100, ignore_pragma => true}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used
]}.

{relx, [
    {release, {hit, "1.0.0"}, [hit]},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"},
    {sys_config_src, "config/sys.config.src"},
    {include_src, true},
    {generate_start_script, true},
    {extended_start_script, true}
]}.

{shell, [
    {apps, [hit]}
]}.

{profiles, [
    {test, [
        {deps, [
            {hackney, "1.18.1"}
        ]}
    ]}
]}.

{ct_opts, [{sys_config, "config/test.config"}]}.
