[
    {prometheus, [
        {collectors, [
            prometheus_boolean,
            prometheus_counter,
            prometheus_gauge,
            prometheus_histogram
        ]}
    ]},
    {lager, [
        {suppress_supervisor_start_stop, true},
        {log_root, "logs"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_console_backend, [
                {level, info},
                {formatter_config, [
                    "[",
                    date,
                    " ",
                    time,
                    "] ",
                    pid,
                    " [",
                    severity,
                    "]",
                    {device_id, [" [", device_id, "]"], ""},
                    " [",
                    {module, ""},
                    {function, [":", function], ""},
                    {line, [":", line], ""},
                    "] ",
                    message,
                    "\n"
                ]}
            ]}
        ]}
    ]}
].
